.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.line {
  margin: 20px auto 0;
  width: 15vh;
  height: 3px;
  background-color: #3f51b5;
}

@media (max-width: 450px) {
  html {
    font-size: 10px;
  }
}
