.TaskList {
  max-width: 55vw;
  margin: 20px auto;
}

table {
  width: 100%;
  border: 1px solid silver;
  border-collapse: collapse;
  text-align: left;
  box-shadow: 0 0 1px 6px rgba(192, 192, 192, 0.466);
}

th,
td {
  padding: 5px 10px;
  border-bottom: 1px solid silver;
}

th {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
}

th:last-of-type {
  width: 20%;
}

th:nth-of-type(2) {
  width: 30%;
}

td button {
  margin: 0 0 0 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  visibility: hidden;
}
td button:hover {
  opacity: 0.5;
}

tr:hover button {
  visibility: visible;
}

.sortIcon {
  position: relative;
  top: 5px;
  left: 15px;
  visibility: hidden;
  cursor: pointer;
}

th:hover .sortIcon {
  visibility: visible;
}

.sortIcon svg {
  transform: scale(1.2);
}

.sortIcon:hover svg {
  transform: scale(1.5);
}
